<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml">
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Rooms</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&display=swap" rel="stylesheet">
    <link rel="stylesheet" th:href="@{/main.css}">
</head>
<body>
<header>
    <a class="logo">Комнаты</a>
    <nav>
        <ul class="topmenu">
            <li><a th:href="@{/people}" class="submenu-link">Люди</a>
                <ul class="submenu">
                    <li><a th:href="@{/citizenship}">Гражданство</a></li>
                    <li><a th:href="@{/category}">Категории</a></li>
                </ul>
            </li>
            <li><a th:href="@{/check_in}" class="submenu-link">Заселение</a>
                <ul class="submenu">
                    <li><a th:href="@{/check_in_people}">Заселение людей</a></li>
                    <li><a th:href="@{/rooms_check_in}">Комнаты для заселения</a></li>
                </ul>
            </li>
            <li><a th:href="@{/decree}" class="submenu-link">Приказы</a>
                <ul class="submenu">
                    <li><a th:href="@{/category_of_decree}">Категории приказов</a></li>
                </ul>
            </li>
            <li><a th:href="@{/order}" class="submenu-link">Ордер</a></li>
            <li><a th:href="@{/building}" class="submenu-link">Здания</a></li>
            <li><a th:href="@{/rooms}" class="submenu-link">Комнаты</a></li>
        </ul>
    </nav>
</header>
<form class="failes_list" method="post" th:action="@{/rooms/{id_room}(id_room=${rooms.id_room})}">
    <input type="number" name="room_number" placeholder="Номер комнаты" th:value="${rooms.room_number}" required>
    <input type="number" name="floor" placeholder="Этаж" th:value="${rooms.floor}" required>
    <input type="number" name="number_of_places" placeholder="Число мест" th:value="${rooms.number_of_places}" required>
    <input type="number" name="cost_of_living" placeholder="Стоимость проживания" th:value="${rooms.cost_of_living}" required>
    <input type="number" name="id_building" placeholder="Идентификатор здания" th:value="${rooms.building.getId_building()}" required>
    <button type="submit" class="button-17" role="button">Сохранить</button>
</form>
</body>
</html>