<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml">
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Rooms</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&display=swap" rel="stylesheet">
    <link rel="stylesheet" th:href="@{/main.css}">
</head>
<body>
<header>
    <a class="logo">Комнаты</a>
    <nav>
        <ul class="topmenu">
            <li><a th:href="@{/people}" class="submenu-link">Люди</a>
                <ul class="submenu">
                    <li><a th:href="@{/citizenship}">Гражданство</a></li>
                    <li><a th:href="@{/category}">Категории</a></li>
                </ul>
            </li>
            <li><a th:href="@{/check_in}" class="submenu-link">Заселение</a>
                <ul class="submenu">
                    <li><a th:href="@{/check_in_people}">Заселение людей</a></li>
                    <li><a th:href="@{/rooms_check_in}">Комнаты для заселения</a></li>
                </ul>
            </li>
            <li><a th:href="@{/decree}" class="submenu-link">Приказы</a>
                <ul class="submenu">
                    <li><a th:href="@{/category_of_decree}">Категории приказов</a></li>
                </ul>
            </li>
            <li><a th:href="@{/order}" class="submenu-link">Ордер</a></li>
            <li><a th:href="@{/building}" class="submenu-link">Здания</a></li>
            <li><a th:href="@{/rooms}" class="submenu-link">Комнаты</a></li>
        </ul>
    </nav>
</header>
<form class="failes_list" method="post" action="rooms/add">
    <input type="number" name="room_number" placeholder="Номер комнаты" required>
    <input type="number" name="floor" placeholder="Этаж" required>
    <input type="number" name="number_of_places" placeholder="Число мест" required>
    <input type="number" name="cost_of_living" placeholder="Стоимость проживания" required>
    <input type="number" name="id_building" placeholder="Идентификатор здания" required>
    <button type="submit" class="button-17" role="button">Добавить</button>
</form>
<table>
    <tr>
        <th>ID</th>
        <th>Комнаты</th>
        <th>Этаж</th>
        <th>Кол-во мест</th>
        <th>Стоимость</th>
        <th>Дом</th>
    </tr>
    <tbody>
    <tr th:each="rooms : ${roomsIterable}">
        <td th:text="${rooms.id_room}"></td>
        <td th:text="${rooms.room_number}"></td>
        <td th:text="${rooms.floor}"></td>
        <td th:text="${rooms.number_of_places}"></td>
        <td th:text="${rooms.cost_of_living}"></td>
        <td th:text="${rooms.building.getId_building()}"></td>
        <td>
            <form th:action="@{'/rooms/delete/' + ${rooms.id_room}}" method="post">
                <button type ="submit" class="button-17" role="button">Удалить</button>
            </form>
        </td>
        <td>
            <form th:action="@{'/rooms/' + ${rooms.id_room}}">
                <button type="submit" class="button-17">Редактировать</button>
            </form>
        </td>
    </tr>
    </tbody>
</table>
</body>
</html>